<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ClemensIntro</title>
    <link rel="stylesheet" href="../../css/style.css">
   </head>
<body>
    <div class="centralMain">  
        <article>
            <h1>Hallo, ich bin Clemens</h1> 
        <br>
        <p>Freut mich, daß Ihr mein Portfolio besucht. Ich hoffe, Ihr habt viel spaß dabei, es zu erkunden. Mir hat es spaß gemacht, es zu schaffen.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores quae vitae earum voluptatum exercitationem voluptas accusantium animi consequatur, fuga porro, incidunt debitis non aperiam numquam obcaecati impedit repudiandae? Excepturi, ipsum!</p>  

        </article>
        <picture>
            <!-- <source media="(min-width:650px)" srcset="../../assets/bigFace.png">
            <source media="(min-width:465px)" srcset="../../assets/bigFace.png"> -->
            <img src="../../assets/bigFace.png" alt="Flowers" >
          </picture>

            </div>
    
</body>
</html>